
__pycache__/element.cpython-38.pyc
Yandex1.py
Yandex2.py
TestForTests.py
Test1Class - Copy.py
New folder/page.py
New folder/Test1Class.py
__pycache__/page.cpython-38.pyc
__pycache__/locators.cpython-38.pyc
.vscode/settings.json
TestCase.zip
geckodriver.log